@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
    background: #713fff;
    border: none;
    border-radius: 0.8rem;
    box-shadow: 0 6px 12px rgba(113, 63, 255, .25) #000000;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0.7rem 1.8rem;
}
.header-text {
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
}
.add-task{
    border: 1px solid black;
    background-color: #fff;
    width: 30%;
    height: 20%;
}